
input{

	margin: 12px;
	width: 245px;
	font-size: 15px;
}

/*.lab{

	font-size: 20px;
}*/

/*.lab1{

	margin-left: 45px;
}*/


input#email {
    margin-left: 45px;
}

select {
    margin-left: 10px;
}

.btn{

	margin-left: 270px;
	background-color: #a5a4a4;
	color: #000000;
	border-color: black;
}

input[type="contact"] {
    margin-left: 30px;
}

select {
    /* margin-right: 50px; */
    width: 250px;
    /*margin-left: 53px;*/
}
  
label.gen {
    margin-right: 75px;
}

label.lab1 {
    margin-left: 35px;
}

label.cont {
    margin-left: 15px;
}

label.con {
    margin-left: 15px;
}

label.sta {
    margin-left: 35px;
}